.popularMoviesContainer {
    height: calc(100vh - 120px);
    margin: 20px;
    box-sizing: border-box;
}

.popularMoviesList {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 80vh;
    justify-content: center;
}
